<h1>Editing Banned User</h1>

<%= render 'form' %>

<%= link_to 'Show', @banned_user %> |
<%= link_to raw(('<i class="fa fa-fw fa-arrow-circle-left"></i>')+' Volver'), :back, class: "btn btn-sm btn-primary", style: "color:#fff" %>
