<h1>Lista de Usuarios Baneados</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @banned_users.each do |banned_user| %>
      <tr>
        <td><%= banned_user.email %></td>
        <td><%= link_to raw(('<i class="fa fa-fw fa-trash-o"></i>')+' Eliminar'), "/banned_users/#{banned_user.id}", method: :delete, data: { confirm: '¿Estas seguro que desaeas desbanear este usuario?' }, class: "btn btn-xs btn-danger", style: "color:#fff" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to raw(('<i class="fa fa-fw fa-plus-circle"></i>')+' Banear un usuario'), new_banned_user_path, class: "btn btn-sm btn-primary", style: 'color:#fff' %>

<%#= link_to 'Bannear nuevo usuario', new_banned_user_path %>
