<h1>Mensajes de Contacto</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Remitente</th>
      <th>Nombre</th>
      <th>Contenido</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @message.each do |msg| %>
      <tr>
      <% usuario = User.find_by_id(msg.from_id) %>
      <td><%= usuario.email %></td>
      <td><%= msg.message.split(":")[0] %></td>
      <td><%= msg.message.split(":")[1] %></td>
      <% if msg.readed %>
        <td style="text-align: center;"><span class="label label-success"><i class="fa fa-fw fa-check"></i></span></td>
      <% else%>
        <td style="text-align: center;"><span class="label label-danger"><i class="fa fa-fw fa-times"></i></span></td>
      <% end %>
      <td><%= button_to 'Ver', msg , method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>