<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Zineu</title>

	<link rel="icon" href="img/logo-zineu-50x50.png" sizes="50x50">

	<!-- Bootstrap Core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

	<!-- Theme CSS -->
	<!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->
	<link href="css/grayscale.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
				<!-- <a class="page-scroll" href="#page-top"> -->
					<!-- <i class="fa fa-play-circle"></i> <span class="light">Start</span> Bootstrap -->
					<img src="img/logo-zineu-inicio.png" alt="Zineu" style="position: relative; top: -15px;">
				</a>
				<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FPuedoComerlo%2F&amp;width=114&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=46&amp;appId" width="114" height="36" style="border:none;overflow:hidden;margin-top: 22px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#page-top">Inicio</a>
					</li>
					<li>
						<a class="page-scroll" href="#about">Nuestro producto</a>
					</li>
					<li>
						<a class="page-scroll" href="#aboutUs">Nosotros</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contáctanos</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">¿Puedo Comerlo?</h1>
							<b><p class="intro-text">Cuidando tu salud y la de tu familia.</p></b>
						<a href="#about" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="about" class="container content-section text-center">
		<div class="row">
			<br><br>
			<h2>Nuestro Producto</h2>
			<br><br>
		</div>
		<div class="row">
			<div class="column col-lg-6" style="padding-bottom: 20px;">
				<div style="position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0;">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/fU9jtb09AQ8" frameborder="0" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
				</div>
			</div>

			<div class="col-lg-6">
				<p>¿Puedo Comerlo? es una aplicación móvil capaz de leer los códigos de barra de productos y entregar información a los consumidores sobre los componentes presentes que podrían afectar su salud, en base a la información de intolerancias que el usuario indicó poseer al ingresar a la aplicación.</p>
				<p>El propósito de “Puedo Comerlo?” es proporcionar información de forma más cómoda, sencilla y rápida a las personas, para que estos se sientan seguros a la hora de ingerir un producto sabiendo que no les va a generar un malestar.</p>
			</div>
		</div>
	</section>

	<!-- sobre nosotros Section -->
	<section id="aboutUs" class="content-section text-center" style="background-color: rgba(0, 255, 183, 0.09);">
		<div class="row" style="margin-top: -15px;">
			<br><br>
			<h1>Nuestra empresa</h1>
			<br><br>
		</div>
		<div class="row" style="margin-bottom: 100px;">
			<div class="col-xs-1"></div>
			<div class="column col-xs-5">
				<img src="img/ziniwu.png" alt="logos">
			</div>

			<div class="col-xs-5">
				<p style="margin-top: 20px;">Zineu es una pre-empresa creada por alumnos de la Universidad Técnica Federico Santa María para el evento de la <a href="html://www.feriadesoftware.cl">Feria de Software</a> que se efectuará en su 14va edición, en donde exponemos nuestro software llamado '¿Puedo Comerlo?' al cual nos hemos estado dedicando a lo largo de todo el año 2016.</p>
			</div>
			<div class="col-xs-1"></div>	
		</div>
		
		<div class="section translucent-bg bg-image-1 blue">
				<div class="container object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn">
				<h1 id="team" class="text-center title">Nuestro Equipo</h1>
				<div class="space"></div>
					
				<div class="row center">
					<center>
					<div class="col-md-3">
						<img class="img-circle" src="img/jorjo.jpg" alt="Jorge Caullán" style="margin: 0 auto" width="200" height="200"><br><br>
						<h3 class="text-center" style="margin: 0px 0px 5px;">Jorge Caullán</h3>
						<p class="text-center"><i>Jefe de proyecto</i></p>
						<p style="font-size: 17px;">
							Encargado de la gestión de recursos humanos, el proceso de producción y desarrollador principal.
						</p>
					</div>
					<div class="col-md-3 ">
						<img class="img-circle" src="img/rafa.jpg" alt="Rafael Calvo" style="margin: 0 auto" width="200" height="200"><br><br>
						<h3 class="text-center" style="margin: 0px 0px 5px;">Rafael Calvo</h3>
						<p class="text-center"><i>Marketing y Diseño</i></p>
						<p style="font-size: 17px;">
							A cargo de las estrategias de publicidad, relaciones dentro y fuera de la empresa, diseño de logos y evaluación de la interfaz de usuario de la aplicación.
						</p>
					</div>
					<div class="col-md-3">
						<img class="img-circle" src="img/fabo.jpg" alt="Fabian Saso" style="margin: 0 auto" width="200" height="200"><br><br>
						<h3 class="text-center" style="margin: 0px 0px 5px;">Fabián Saso</h3>
						<p class="text-center"><i>Encargado de Tecnologia</i></p>
						<p style="font-size: 17px;">
							Se desempeña como el principal encargado del funcionamiento óptimo de las plataformas tecnológicas que son usadas por la empresa.
						</p>
					</div>
					<div class="col-md-3">
						<img class="img-circle" src="img/alonso.jpg" alt="Alonso Orellana" style="margin: 0 auto" width="200" height="200"><br><br>
						<h3 class="text-center" style="margin: 0px 0px 5px;">Alonso Orellana</h3>
						<p class="text-center"><i>Quality Assurance</i></p>
						<p style="font-size: 17px;">
							Miembro del equipo de QA donde su misión es la de asegurar la mejor calidad para nuestro producto.
						</p>
					</div>
				</center>
				</div>
				
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="container content-section text-center">
		<div class="translucent-bg">
				<div class="container">
					<h1 class="title text-center" id="contacto">Contáctanos</h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">

								<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPuedoComerlo%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1041073662677910" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

							</div>
						</div>
						<div class="col-sm-6">
							<p>
Hasta hoy nuestro sitio ha recibido <a target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=2175102&f=0&b=16777215" border="0" height="20" width="85" alt="muchas"></a> visitas y es importante para nosotros que nos escribas tus opiniones, consultas y comentarios sobre lo que desees.</p>
							<div class="footer-content">
								<!-- contenido de email enviado desde contactanos -->
								<div class="form-group has-feedback">
									<label class="sr-only" for="name2">Nombre</label>
									<input type="text" class="form-control" id="name2" placeholder="Nombre" name="nombre" required>
									<i class="fa fa-user form-control-feedback"></i>
								</div>
								<div class="form-group has-feedback">
									<label class="sr-only" for="email2">Email</label>
									<input type="email" class="form-control" id="email2" placeholder="Email" name="mail" required>
									<i class="fa fa-envelope form-control-feedback"></i>
								</div>
								<div class="form-group has-feedback">
									<label class="sr-only" for="message2">Mensaje</label>
									<textarea class="form-control" rows="8" id="message2" placeholder="Mensaje" name="mensaje" required></textarea>
									<i class="fa fa-pencil form-control-feedback"></i>
								</div>
            		<button onClick="sendMail()" type="button" class="btn btn-default">Enviar</button>
							</div>
						</div>
					</div>
				</div>
				<div class="space"></div>
				<div class="col-md-12">
					<br><br>
					<p class="text-center">Visitanos en la Feria de Software USM 2016.</p>
				</div>
			</div>
			<!-- .footer end -->
		</div>
	</section>

	
	
	<!-- Footer -->
	<footer>
	<!-- Map Section -->
	<div id="map"></div>
	<div style="text-align: right;">Vicuña Mackenna 3939, Santiago, San Joaquín, Región Metropolitana</div>
	<!-- footer end -->

	</footer>

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

	<!-- Theme JavaScript -->
	<script src="js/grayscale.min.js"></script>
	
	<script type="text/javascript">
		var url_server = "localhost:3000"

		function sendMail() {
			var form = new FormData();
			form.append("nombre", $("#name2").val());
			form.append("mail", $("#email2").val());
			form.append("mensaje", $("#message2").val());

			var settings = {
				"async": true,
				"crossDomain": true,
				"url": "http://"+url_server+"/sendemail",
				"method": "POST",
				"headers": {
					"cache-control": "no-cache",
					"postman-token": "8b5643a5-12a1-00bb-f3fb-155a6197ace5"
				},
				"processData": false,
				"contentType": false,
				"mimeType": "multipart/form-data",
				"data": form,
				error: function(resp, status){
					if (resp.status==0){
						alert("Error de conexión con el servidor, por favor intentelo mas tarde")
					}
					else{
						alert(JSON.parse(resp.responseText).error)
					}
					location.reload();
				}
			}

			var confirmsend = confirm("¿Estas seguro que deseas enviar el mensaje?");
			if (confirmsend == true) {
				$.ajax(settings).done(function (response) {
					alert("Mensaje enviado correctamente");
					// alert(response);
					location.reload();
				});
			}
		}

		function count($this){
			var current = parseInt($this.html(), 10);
			current = current + 1; /* Where 1 is increment */

			$this.html(++current);
			if(current > $this.data('count')){
				$this.html($this.data('count'));
			} else {
				setTimeout(function(){count($this)}, 50);
			}
		}

		jQuery(".stat-count").each(function() {
		  jQuery(this).data('count', parseInt(jQuery(this).html(), 10));
		  jQuery(this).html('0');
		  count(jQuery(this));
		});

	</script>
	</body>
</html>
