<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Zineu</title>

	<link rel="icon" href="img/logo-zineu-50x50.png" sizes="50x50">

	<!-- Bootstrap Core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

	<!-- Theme CSS -->
	<!-- <link href="css/grayscale.min.css" rel="stylesheet"> -->
	<link href="css/grayscale.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					Menu <i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
				<!-- <a class="page-scroll" href="#page-top"> -->
					<!-- <i class="fa fa-play-circle"></i> <span class="light">Start</span> Bootstrap -->
					<img src="img/logo-zineu-inicio.png" alt="Zineu" style="position: relative; top: -25px;">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li>
						<a class="page-scroll" href="#page-top">Inicio</a>
					</li>
					<li>
						<a class="page-scroll" href="#about">Nuestro producto</a>
					</li>
					<li>
						<a class="page-scroll" href="#download">Acerca de nosotros</a>
					</li>
					<li>
						<a class="page-scroll" href="#contact">Contáctanos</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="brand-heading">¿Puedo Comerlo?</h1>
							<b><p class="intro-text">Cuidando de la salud de ti y de tu familia.</p></b>
						<a href="#about" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- About Section -->
	<section id="about" class="container content-section text-center">
		<div class="row">
			<h2>Nuestro producto</h2>
		</div>
		<div class="row">
			<div class="column col-lg-6">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/fU9jtb09AQ8" frameborder="0" allowfullscreen></iframe>
			</div>

			<div class="col-lg-6">
				<p>¿Puedo Comerlo? es una aplicación móvil capaz de leer los códigos de barra de productos y entregar información a los consumidores sobre los componentes presentes que podrían afectar su salud, en base a la información de intolerancias que el usuario indicó poseer al ingresar a la aplicación.</p>
				<p>El propósito de “Puedo Comerlo?” es proporcionar información de forma más cómoda, sencilla y rápida a las personas, para que estos se sientan seguros a la hora de ingerir un producto sabiendo que no les va a generar un malestar.</p>
			</div>
		</div>
	</section>

	<!-- Download Section -->
	<section id="download" class="content-section text-center">
		<div class="section translucent-bg bg-image-1 blue">
				<div class="container object-non-visible animated object-visible fadeIn" data-animation-effect="fadeIn">
				<h1 id="team" class="text-center title">Nuestro Equipo</h1>
				<div class="space"></div>
					
				<div class="row center">
					<center>
					<div class="col-md-3 bio-dribyte">
						<img class="img-circle" src="img/rem.png" alt="Nicolás Aravena" style="margin: 0 auto" width="140" height="140">
						<h3 class="text-center">Jorge Caullán</h3>
						<p class="bio-title text-center">Jefe de proyecto</p>
						<p>
							Desarrollador, Gestión de tecnologías y analista de riesgos y mitigación
						</p>
					</div>
					<div class="col-md-3  bio-dribyte">
						<img class="img-circle" src="img/rem.png" alt="Oscar Rencoret" style="margin: 0 auto" width="140" height="140">
						<h3 class="text-center">Rafael Calvo</h3>
						<p class="bio-title text-center">Marketing y Diseño</p>
						<p>
							Gestión de tiempo limites de producción y desarrollo de la realidad virtual
						</p>
					</div>
					<div class="col-md-3 bio-dribyte">
						<img class="img-circle" src="img/rem.png" alt="Esteban Gonzalez" style="margin: 0 auto" width="140" height="140">
						<h3 class="text-center">Fabian Saso</h3>
						<p class="bio-title text-center">el supermodelo noruego</p>
						<p>
							Jefe de proyectos, gestión de recursos humanos y gestion del proceso de producción
						</p>
					</div>
					<div class="col-md-3 bio-dribyte">
						<img class="img-circle" src="img/rem.png" alt="Ximena Rojas" style="margin: 0 auto" width="140" height="140">
						<h3 class="text-center">Alonso Orellana</h3>
						<p class="bio-title text-center">El tata del grupo</p>
						<p>
							Gestión de redes y comunicaciones, gestión de redes sociales, gestión financiera y contacto con el cliente
						</p>
					</div>
				</center>
				</div>
				
			</div>
		</div>
	</section>

	<!-- Contact Section -->
	<section id="contact" class="container content-section text-center">
		<div class="translucent-bg" style="padding: 60px">
				<div class="container">
					<h1 class="title text-center" id="contacto">Contáctanos</h1>
					<div class="space"></div>
					<div class="row">
						<div class="col-sm-6">
							<div class="footer-content">
								<p style="font-size:25px" class="large">Es importante para nosotros que nos escribas tus opiniones, consultas y comentarios sobre lo que desees, ya que Zineu quiere lo que tú deseas. Puedes hacerlo a traves del siguiente formulario.</p>
								<p style="font-size:25px" class="large">Si lo deseas, puedes escribirnos a:<br/> <br/><i style="font-size:30px" class="fa fa-envelope-o pr-10"></i> contacto.zineu@gmail.com</i></p>
								
								<p style="font-size:25px" class="large">Recuerda seguirnos en Facebook:<br/> <br/> <class="facebook"><a target="_blank" href="https://www.facebook.com/profile.php?id=100012857145140"><i style="font-size:30px" class="fa fa-facebook"></i> </a>&nbsp;&nbsp;&nbsp;fb.com/PuedoComerlo </p>
								<ul class="social-links">
								<p style="font-size:25px" class="large">Teléfonos de contacto:<br/> <br/><i style="font-size:30px" class="fa fa-phone pr-10"></i> +569 72738557</i></p>
									
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="footer-content">
								<form method="post" action="http://www.yourlitzer.com/pagina/enviar_mail_contacto2.php">
									<div class="form-group has-feedback">
										<label class="sr-only" for="name2">Nombre</label>
										<input type="text" class="form-control" id="name2" placeholder="Nombre" name="nombre" required>
										<i class="fa fa-user form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="email2">Email</label>
										<input type="email" class="form-control" id="email2" placeholder="Email" name="mail" required>
										<i class="fa fa-envelope form-control-feedback"></i>
									</div>
									<div class="form-group has-feedback">
										<label class="sr-only" for="message2">Mensaje</label>
										<textarea class="form-control" rows="8" id="message2" placeholder="Mensaje" name="mensaje" required></textarea>
										<i class="fa fa-pencil form-control-feedback"></i>
									</div>
									<input type="submit" value="Enviar" class="btn btn-default">
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="space"></div>
				<div class="col-md-12">
							<p class="text-center">Copyright © 2016 by <a href="#nosotros">Zineu</a>.</p>
						</div>
			</div>
			<!-- .footer end -->
		</div>
	</section>

	<!-- Map Section -->
	<div id="map"></div>

	<!-- Footer -->
	<footer>
				
		<!-- footer end -->
	</footer>

	<!-- jQuery -->
	<script src="vendor/jquery/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

	<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

	<!-- Theme JavaScript -->
	<script src="js/grayscale.min.js"></script>

	</body>
</html>
